<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Biblioteka</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title" th:text="${book.title}"></h5>
            <h6 class="card-subtitle mb-2 text-muted" th:text="${book.author}"></h6>
            <p class="card-text" th:text="${book.description}"></p>
            <a href="/books" class="btn btn-secondary btn-sm">Powrót</a>
            <a th:href="${'/book/edit/'+book.id}" class="btn btn-info btn-sm">Edytuj</a>
            <a th:href="${'/book/delete/'+book.id}" class="btn btn-danger btn-sm">Usuń</a>
        </div>
    </div>
</div>
</body>
</html>