<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Biblioteka</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="btn-toolbar" role="toolbar" aria-label="Pasek narzędzi">
        <div class="btn-group mr-2" role="group" aria-label="Pierwsza grupa">
            <a href="/newbook" class="btn btn-primary btn-sm">Dodaj książkę</a>
        </div>
    </div>
    <p></p>
    <table class="table table-sm table-hover">
        <thead class="thead-light">
        <tr><th>Autor</th><th>Tytuł</th><th>Przeczytana</th><th></th><th></th><th></th></tr>
        </thead>
        <tbody th:each="book : ${books}">
        <tr>
            <td th:text="${book.author}"></td>
            <td th:text="${book.title}"></td>
            <td><a th:href="${'/book/read/'+book.id}" class="btn btn-warning btn-sm"><span th:text="${book.read}"></span></a></td>
            <td><a th:href="${'/book/'+book.id}" class="btn btn-success btn-sm">Podgląd</a></td>
            <td><a th:href="${'/book/edit/'+book.id}" class="btn btn-info btn-sm">Edytuj</a></td>
            <td><a th:href="${'/book/delete/'+book.id}" class="btn btn-danger btn-sm">Usuń</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>